javaWorkspace/.metadata/
**/.settings/
**/bin/
*.project
*.classpath
setup/
javaWorkspace/발표용/
miniTemp/
htmlRepo/media/
cssRepo/media/
*.jar
log.txt
**/resources/img/
**/Servers/
*.MF
semi(java)/**/.gitignore
.lock
.metadata
semi(sql)/SEMI_더미데이터.sql
